## Visual Studio / .NET
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
project.lock.json
project.fragment.lock.json
artifacts/

## Others
*.cache
*.dll
*.exe
*.pdb
*.mdb
*.opendb
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb
.DS_Store
Thumbs.db
